* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  display: none !important;
}

body {
  scroll-behavior: smooth !important;
}
/* ======================== Typography ======================== */
.primary-heading {
  font-size: 36px !important;
  line-height: 43px !important;
  letter-spacing: 0.035em !important;
}
@media screen and (max-width: 767px) {
  .primary-heading {
    font-size: 24px !important;
  }
}

.text-paragraph {
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.035em !important;
}
@media screen and (max-width: 767px) {
  .text-paragraph {
    font-size: 14px !important;
  }
}

.sub-heading {
  font-size: 24px !important;
  line-height: 29px !important;
  letter-spacing: 0.035em !important;
}
@media screen and (max-width: 767px) {
  .sub-heading {
    font-size: 18px !important;
  }
}

.special-text {
  font-size: 17px !important;
  line-height: 20px !important;
  letter-spacing: 0.035em !important;
}
@media screen and (max-width: 767px) {
  .special-text {
    font-size: 15px !important;
  }
}
/* ============================== colors ================================ */
/* ====================== text */
.color-secondary {
  color: #fff !important;
}

.color-primary {
  color: #ffb800 !important;
}

.color-black {
  color: #121212 !important;
}

.color-black-2 {
  color: #343434 !important;
}

/* =========================== background  */
.bg-color-primary {
  background-color: #ffb800 !important;
}

.bg-color-secondary {
  background-color: #fff !important;
}

.bg-color-black {
  background-color: #121212 !important;
}

/* ================================= utilities ============================== */

.section-mt {
  margin-top: 150px !important;
}

@media screen and (max-width: 767px) {
  .section-mt {
    margin-top: 100px !important;
  }
}
